<strong>Recuperando senha</strong>

<p>A equipe Petchágoras informa que foi solicitada uma nova recuperação de senha para o email ({{email}}).<p>
<p>Para continuar a recuperação de senha, utilize o token {{token}} ou clique no link abaixo:</p>
<a href="{{link}}">Criar nova senha</a>
